<app-menu></app-menu>
<div class="component-content">
  <div class="lefthalf">
    <span class="component-title">[{{ title }}]</span>
  </div>
</div>
<p *ngIf="!prReviews">Loading ...</p>
<table class="table table-sm" *ngIf="prReviews">
  <tr>
    <th class="table-secondary btn-link">
      <a class="btn btn-link font-weight-bold" (click)="sortBy('id')"
        ><u>Id</u></a
      >
    </th>
    <th class="table-secondary btn-link">
      <a class="btn btn-link font-weight-bold"><u>User Name</u></a>
    </th>
    <th class="table-secondary btn-link">
      <a class="btn btn-link font-weight-bold" (click)="sortBy('description')"
        ><u>Description</u></a
      >
    </th>
    <th class="table-secondary btn-link">
      <a class="btn btn-link font-weight-bold" (click)="sortBy('photoPath')"
        ><u>Status</u></a
      >
    </th>
    <th class="table-secondary btn-link">
      <a class="btn btn-link font-weight-bold" (click)="sortBy('photoPath')"
        ><u>Total</u></a
      >
    </th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let prReview of prReviews">
    <td>{{ prReview.id }}</td>
    <td>{{ prReview.user.userName }}</td>
    <td>{{ prReview.description }}</td>
    <td>{{ prReview.status }}</td>
    <td>{{ prReview.total }}</td>
    <td class="actions">
      <a routerLink="/purchase-request/approve/{{ prReview.id }}"
        ><img
          src="assets/review.png"
          width="20"
          height="20"
          title="Approve/Reject"
      /></a>
    </td>
  </tr>
</table>
