<app-menu></app-menu>
<div class="component-content">
  <div class="lefthalf">
    <span class="component-title">[{{ title }}]</span>
    <span
      ><a routerLink="/purchase-request/list">
        <img id="createnew" width="20" height="20" title="Back to List"
      /></a>
    </span>
  </div>
</div>
<p *ngIf="!purchaseRequest">Loading ...</p>
<table class="table table-sm" *ngIf="purchaseRequest">
  <tr>
    <th class="table-secondary btn-link">
      <a class="btn btn-link font-weight-bold"><u>Id</u></a>
    </th>
    <th class="table-secondary btn-link">
      <a class="btn btn-link font-weight-bold"><u>Description</u></a>
    </th>
    <th class="table-secondary btn-link">
      <a class="btn btn-link font-weight-bold"><u>Status</u></a>
    </th>
    <th class="table-secondary btn-link">
      <a class="btn btn-link font-weight-bold"><u>Total</u></a>
    </th>
  </tr>
  <tr>
    <td>{{ purchaseRequest.id }}</td>
    <td>{{ purchaseRequest.description }}</td>
    <td>{{ purchaseRequest.status }}</td>
    <td>{{ purchaseRequest.total }}</td>
  </tr>
</table>

<span class="component-title">[{{ title1 }}]</span>
<p *ngIf="!lineItems">Loading ...</p>
<table class="table table-sm" *ngIf="lineItems">
  <tr>
    <th class="table-secondary btn-link">
      <a class="btn btn-link font-weight-bold"><u>Id</u></a>
    </th>
    <th class="table-secondary btn-link">
      <a class="btn btn-link font-weight-bold"><u>Product</u></a>
    </th>
    <th class="table-secondary btn-link">
      <a class="btn btn-link font-weight-bold"><u>Quantity</u></a>
    </th>
    <th class="table-secondary btn-link">
      <a class="btn btn-link font-weight-bold"><u>Price</u></a>
    </th>
  </tr>
  <tr *ngFor="let line of lineItems">
    <td>{{ line.id }}</td>
    <td>{{ line.product.name }}</td>
    <td>{{ line.quantity }}</td>
    <td>{{ line.product.price }}</td>
  </tr>

  <tr>
    <td colspan="4">
      <button
        class="btn btn-primary"
        (click)="approve()"
        style="margin-right: 5px"
      >
        Approve
      </button>
      <button
        class="btn btn-danger"
        (click)="reject()"
        style="margin-right: 5px"
      >
        Reject
      </button>
      <input
        [(ngModel)]="purchaseRequest.reasonForRejection"
        type="text"
        size="50%"
        placeholder="Reason for Rejection"
      />
    </td>
  </tr>
</table>
