<app-menu></app-menu>
<div class="component-content">
  <div class="lefthalf">
    <span class="component-title">[{{ title }}]</span>
    <span
      ><a routerLink="/purchaserequest/create">
        <img
          id="createnew"
          width="20"
          height="20"
          src="assets/add-icon.png"
          title="Purchase Request List"
      /></a>
    </span>
  </div>
</div>
<p *ngIf="!purchaseRequests">Loading ...</p>
<table class="table table-sm" *ngIf="purchaseRequests">
  <tr>
    <th class="table-secondary btn-link">
      <a class="btn btn-link font-weight-bold" (click)="sortBy('id')"
        ><u>Id</u></a
      >
    </th>
    <th class="table-secondary btn-link">
      <a class="btn btn-link font-weight-bold"><u>User Name</u></a>
    </th>
    <th class="table-secondary btn-link">
      <a class="btn btn-link font-weight-bold" (click)="sortBy('description')"
        ><u>Description</u></a
      >
    </th>
    <th class="table-secondary btn-link">
      <a class="btn btn-link font-weight-bold" (click)="sortBy('photoPath')"
        ><u>Status</u></a
      >
    </th>
    <th class="table-secondary btn-link">
      <a class="btn btn-link font-weight-bold" (click)="sortBy('photoPath')"
        ><u>Total</u></a
      >
    </th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let purchaseRequest of purchaseRequests">
    <td>{{ purchaseRequest.id }}</td>
    <td>{{ purchaseRequest.user.userName }}</td>
    <td>{{ purchaseRequest.description }}</td>
    <td>{{ purchaseRequest.status }}</td>
    <td>{{ purchaseRequest.total }}</td>
    <td class="actions">
      <a routerLink="/purchaserequest/detail/{{ purchaseRequest.id }}"
        ><img src="assets/details.png" width="20" height="20" title="Detail"
      /></a>
      <a routerLink="/purchaserequest/edit/{{ purchaseRequest.id }}"
        ><img src="assets/pencil-icon.png" width="20" height="20" title="Edit"
      /></a>
    </td>
  </tr>
</table>
